<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
      
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Barra superior con logo y botón de logout -->
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='wouchuk-logo.png') }}" alt="Logo Wouchuk" class="logo">
        </div>
        <div class="user-info">
            {{ session['username'] }} | <a href="{{ url_for('logout') }}">Salir</a>
        </div>
    </header>

    <!-- Contenido principal -->
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>
